.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 2vw;
    overflow: hidden;
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 2vw;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    color: #e8e8e8;
    gap: 2vw;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 32px;
}

.content .para {
    line-height: 1.5;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: #0974f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border-color: #0974f1;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

.projectDescriptionAndLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexItem {
    height: 33%;
}

a {
    color: #0974f1;
    display: block;
    margin-bottom: 15px
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}
