.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25vw;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 2vw;
    overflow: hidden;
    border-radius: 10px;
    background: #212121;
    border: 2px solid #313131;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 2vw;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #e8e8e8;
    gap: 2vw;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
}

.content .heading {
    font-weight: 700;
    font-size: 32px;
}

.content .icon {
    font-size: 5vw;
}

.content .para {
    line-height: 1.5;
}

.content .btn {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: #0974f1;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.purple:hover {
    box-shadow: 0 0 20px rgb(114, 19, 151);
    border-color: #800080;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #0974f1;;
}

.purpleGradient {
    background: -webkit-linear-gradient(315deg,#ff2dff .1%,white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purpleGradient::after {
    background: -webkit-linear-gradient(315deg,#800080 1%,white);
}
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0974f1;;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.content .btn:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
}

.content .btn:active {
    box-shadow: none;
}

.projectDescriptionAndLinks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flexItem {
    height: 33%;
}

a {
    color: #0974f1;
    display: block;
    margin-bottom: 15px
}

hr.rounded {
    border-top: 2px solid #bbb;
    border-radius: 5px;
    margin-top: 12px;
    margin-bottom: 12px;
}
