.projectsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.projectsSectionHeader {
    height: 15%;
    width: 100%;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 400%
}

@media (max-width: 768px) {
    .projectsSectionHeader {
        font-size: 200%;
    }

    .projectsContainer {
        display: block;
    }
}