.projectsContainer {
    display: flex;
    width: 100%;
    justify-content: center;
}

.fiftyPercentOfContainer {
    display: flex;
    justify-content: center;
    width: 50%;
}

.projectsSectionHeader {
    padding: 2%;
    width: 100%;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 400%
}

@media (max-width: 768px) {
    .projectsSectionHeader {
        font-size: 200%;
    }

    .projectsContainer {
        display: block;
    }

    .fiftyPercentOfContainer {
        width: 100%;
        display: block;
    }

    p.heading {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    p.para {
        text-align: center;
    }

    .flexItem {
        display: flex;
    }
}
