.glassDiv {
    width: 50%;
    padding: 1%;
    margin: 1%;
    background-color: rgba(0, 0, 0, 0.22);  
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-radius: 15px;
}

.horizontalScrollContainer {
    width: 100%;
    overflow-x: auto;
    display: flex;
}

.resumeSectionHeader {
    padding: 2%;
    width: 100%;
    align-items: center;
    display: flex;
    font-weight: 700;
    font-size: 400%
}

.sectionHeaderTitle {
    margin: auto;
}
.timeLine {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.timeLineContainer {
    height: 92vh;
    width: 100%;
}

.timeLineLine {
    height: 2%;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
}

.timeLineHR {
    color: white;
    padding-left: 5%;
    flex: 1;
}

.bottomOfTimeLine {
    height: 15%;
    display: flex;
    align-items: start;
}

.marginDiv {
    width: 10%;
}

.blankTimeLineSpace {
    width: 25vw;
}

.timeLineButton {
    position: relative;
    align-items: center;
    justify-content: center;
    width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);  
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2vw;
    overflow: hidden;
    border-radius: 10px;
    border: 2px rgba(0, 0, 0, 0.25);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    cursor: pointer;
    height: fit-content;
}

.timeLineButtons {
    display: flex;
    justify-content: space-evenly;
}

.red {
    box-shadow: 0 0 20px rgba(241, 9, 9, 0.925);
    border-color: red;
}

.redHover:hover {
    box-shadow: 0 0 20px rgba(241, 9, 9, 0.925);
    border-color: red;
}

.orange {
    box-shadow: 0 0 20px rgba(241, 140, 9, 0.986);
    border-color: orange;
}

.orangeHover:hover {
    box-shadow: 0 0 20px rgba(241, 140, 9, 0.986);
    border-color: orange;
}

.green {
    box-shadow: 0 0 20px rgb(19, 151, 37);
    border-color: green;
}

.greenHover:hover {
    box-shadow: 0 0 20px rgb(19, 151, 37);
    border-color: green;
}

.blue {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border-color: #0974f1;
}

.blueHover:hover {
    box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
    border-color: #0974f1;
}

.purple {
    box-shadow: 0 0 20px rgb(114, 19, 151);
    border-color: purple;
}

.purpleHover:hover {
    box-shadow: 0 0 20px rgb(114, 19, 151);
    border-color: purple;
}

@media (max-width: 768px) {
    .resumeSectionHeader {
        font-size: 200%;
        height: auto;
    }

    .timeLineButtons {
        height: auto;
    }
}
