.skillsCard {
    position: relative;
    align-items: center;
    justify-content: center;
    width: 50vw;
    background-color: rgba(0, 0, 0, 0.25);  
    backdrop-filter: blur(5px);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    padding: 2vw;
    overflow: hidden;
    border-radius: 10px;
    border: 2px rgba(0, 0, 0, 0.25);
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
    margin: 2vw;
}

.sectionHeader {
    text-align: center;
    font-weight: 700;
    font-size: 400%;
}

.whiteHover:hover {
    box-shadow: 0 0 20px rgb(255, 255, 255);
    border-color: white;
}

.skillContainer {
    transition: all .2s;
}

.skillContainer:hover {
    transform: scale(110%);
}

@media (max-width: 768px) {
    .sectionHeader {
        font-size: 200%;
    }

    .skillsAndFrameWorks {
        display: block;
    }

    .skillsCard {
        margin: auto;
        width: 90%;
        margin-bottom: 5%;
    }
}